[submodule "SSD_detection_by_DPU_on_Ultra_96"]
	path = SSD_detection_by_DPU_on_Ultra_96
	url = https://github.com/EdwardBao1006/SSD_detection_by_DPU_on_Ultra_96.git
[submodule "HLS_xfopencv"]
	path = HLS_xfopencv
	url = https://github.com/wuxinruru/HLS_xfopencv.git
[submodule "Digital_circuit_experiment"]
	path = Digital_circuit_experiment
	url = https://github.com/CCP101/Digital_circuit_experiment.git
[submodule "FaceScore-Accelerated-by-Xilinx-DPU"]
	path = FaceScore-Accelerated-by-Xilinx-DPU
	url = https://github.com/dujiangsu/FaceScore-Accelerated-by-Xilinx-DPU.git
[submodule "DPU"]
	path = DPU
	url = https://github.com/Ace-Pegasus/DPU.git
